

h1{
    text-align: center;
}
 
 #jeu {
     display: flex;
     justify-content: center;
 }
 
 .plateau {
     display: flex;
     flex-wrap: wrap;
     background-color: blue;
     width: 480px;
     height: 480px;
     border: 1px solid black;
}

 .carte_noire{
    box-sizing: border-box;
    background-color: chocolate;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .carte_blanche{
    box-sizing: border-box;
    background-color: bisque;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 img {
     height: 55px;
     width: auto;
 }