h1{
    text-align: center;
}
 
 #jeu {
     display: flex;
     justify-content: center;
 }
 
 .plateau {
     display: flex;
     flex-wrap: wrap;
     background-color: blue;
     width: 480px;
     height: 480px;
     border: 1px solid black;
}

 .carte_noire{
    background-color: black;
    width: 60px;
    height: 60px;
 }

 .carte_blanche{
    background-color: white;
    width: 60px;
    height: 60px;
 }